:root {
  --_1un3cl80: Helvetica, arial, sans-serif;
  --_1un3cl81: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_1un3cl82: normal 10px Helvetica, arial, sans-serif;
  --_1un3cl83: normal 12px Helvetica, arial, sans-serif;
  --_1un3cl84: normal 14px Helvetica, arial, sans-serif;
  --_1un3cl85: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_1un3cl86: 100;
  --_1un3cl87: 700;
  --_1un3cl88: 4px;
  --_1un3cl89: 2px;
  --_1un3cl8a: 4px;
  --_1un3cl8b: 6px;
  --_1un3cl8c: 100%;
  --_1un3cl8d: 70px;
  --_1un3cl8e: 44px;
  --_1un3cl8f: opacity 300ms ease, transform 300ms ease;
  --_1un3cl8g: opacity 200ms ease, transform 200ms ease;
  --_1un3cl8h: opacity 100ms ease, transform 100ms ease;
  --_1un3cl8i: 0;
  --_1un3cl8j: 2px;
  --_1un3cl8k: 4px;
  --_1un3cl8l: 6px;
  --_1un3cl8m: 12px;
  --_1un3cl8n: 16px;
  --_1un3cl8o: 20px;
  --_1un3cl8p: 40px;
}
:root {
  --_1un3cl8q: #000;
  --_1un3cl8r: #040080;
  --_1un3cl8s: #005ad2;
  --_1un3cl8t: #00439c;
  --_1un3cl8u: #00439c;
  --_1un3cl8v: #0088ff;
  --_1un3cl8w: #75438a;
  --_1un3cl8x: #a7a7a7;
  --_1un3cl8y: #515151;
  --_1un3cl8z: #fff;
  --_1un3cl810: #a7a7a7;
  --_1un3cl811: #cd193d;
  --_1un3cl812: #005ad2;
  --_1un3cl813: #1da584;
  --_1un3cl814: rgba(0, 0, 0, .05);
  --_1un3cl815: #005ad2;
  --_1un3cl816: #c5f5e9;
  --_1un3cl817: #fee1e9;
  --_1un3cl818: #eeeeee;
  --_1un3cl819: #fff;
  --_1un3cl81a: #f4f4f4;
  --_1un3cl81b: #e5f3ff;
  --_1un3cl81c: #eeeeee;
  --_1un3cl81d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_1un3cl81e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_1un3cl8q: #f6f8fa;
  --_1un3cl8r: #c8e1f7;
  --_1un3cl8s: #68aeea;
  --_1un3cl8t: #97c8f1;
  --_1un3cl8u: #97c8f1;
  --_1un3cl8v: #3e8fe0;
  --_1un3cl8w: #aa83f2;
  --_1un3cl8x: #3d4b63;
  --_1un3cl8y: #f6f8fa;
  --_1un3cl8z: #000;
  --_1un3cl810: #828ea4;
  --_1un3cl811: #fa6b6c;
  --_1un3cl812: #3e8fe0;
  --_1un3cl813: #28b888;
  --_1un3cl814: rgba(0, 0, 0, .15);
  --_1un3cl815: #3e8fe0;
  --_1un3cl816: #195546;
  --_1un3cl817: #4c1a20;
  --_1un3cl818: #1c2230;
  --_1un3cl819: #0f131b;
  --_1un3cl81a: #0a0c11;
  --_1un3cl81b: rgba(41,111,192,0.15);
  --_1un3cl81c: #1c2230;
  --_1un3cl81d: 0 0 10px -2px #2d3648;
  --_1un3cl81e: 0 0 0 5px rgba(104,174,234,0.4);
}
._1un3cl81f {
  position: absolute;
}
._1un3cl81g {
  position: relative;
}
._1un3cl81h {
  position: fixed;
}
._1un3cl81i {
  top: 0;
}
._1un3cl81j {
  bottom: 0;
}
._1un3cl81k {
  left: 0;
}
._1un3cl81l {
  right: 0;
}
._1un3cl81m {
  display: none;
}
._1un3cl81n {
  display: flex;
}
._1un3cl81o {
  display: block;
}
._1un3cl81p {
  display: inline;
}
._1un3cl81q {
  flex-direction: row;
}
._1un3cl81r {
  flex-direction: column;
}
._1un3cl81s {
  flex-direction: row-reverse;
}
._1un3cl81t {
  flex-wrap: wrap;
}
._1un3cl81u {
  justify-content: stretch;
}
._1un3cl81v {
  justify-content: flex-start;
}
._1un3cl81w {
  justify-content: center;
}
._1un3cl81x {
  justify-content: flex-end;
}
._1un3cl81y {
  justify-content: space-around;
}
._1un3cl81z {
  justify-content: space-between;
}
._1un3cl820 {
  align-items: stretch;
}
._1un3cl821 {
  align-items: flex-start;
}
._1un3cl822 {
  align-items: center;
}
._1un3cl823 {
  align-items: flex-end;
}
._1un3cl824 {
  padding-top: var(--_1un3cl8i);
}
._1un3cl825 {
  padding-top: var(--_1un3cl8j);
}
._1un3cl826 {
  padding-top: var(--_1un3cl8k);
}
._1un3cl827 {
  padding-top: var(--_1un3cl8l);
}
._1un3cl828 {
  padding-top: var(--_1un3cl8m);
}
._1un3cl829 {
  padding-top: var(--_1un3cl8n);
}
._1un3cl82a {
  padding-top: var(--_1un3cl8o);
}
._1un3cl82b {
  padding-top: var(--_1un3cl8p);
}
._1un3cl82c {
  padding-bottom: var(--_1un3cl8i);
}
._1un3cl82d {
  padding-bottom: var(--_1un3cl8j);
}
._1un3cl82e {
  padding-bottom: var(--_1un3cl8k);
}
._1un3cl82f {
  padding-bottom: var(--_1un3cl8l);
}
._1un3cl82g {
  padding-bottom: var(--_1un3cl8m);
}
._1un3cl82h {
  padding-bottom: var(--_1un3cl8n);
}
._1un3cl82i {
  padding-bottom: var(--_1un3cl8o);
}
._1un3cl82j {
  padding-bottom: var(--_1un3cl8p);
}
._1un3cl82k {
  padding-left: var(--_1un3cl8i);
}
._1un3cl82l {
  padding-left: var(--_1un3cl8j);
}
._1un3cl82m {
  padding-left: var(--_1un3cl8k);
}
._1un3cl82n {
  padding-left: var(--_1un3cl8l);
}
._1un3cl82o {
  padding-left: var(--_1un3cl8m);
}
._1un3cl82p {
  padding-left: var(--_1un3cl8n);
}
._1un3cl82q {
  padding-left: var(--_1un3cl8o);
}
._1un3cl82r {
  padding-left: var(--_1un3cl8p);
}
._1un3cl82s {
  padding-right: var(--_1un3cl8i);
}
._1un3cl82t {
  padding-right: var(--_1un3cl8j);
}
._1un3cl82u {
  padding-right: var(--_1un3cl8k);
}
._1un3cl82v {
  padding-right: var(--_1un3cl8l);
}
._1un3cl82w {
  padding-right: var(--_1un3cl8m);
}
._1un3cl82x {
  padding-right: var(--_1un3cl8n);
}
._1un3cl82y {
  padding-right: var(--_1un3cl8o);
}
._1un3cl82z {
  padding-right: var(--_1un3cl8p);
}
._1un3cl830 {
  margin-top: var(--_1un3cl8i);
}
._1un3cl831 {
  margin-top: var(--_1un3cl8j);
}
._1un3cl832 {
  margin-top: var(--_1un3cl8k);
}
._1un3cl833 {
  margin-top: var(--_1un3cl8l);
}
._1un3cl834 {
  margin-top: var(--_1un3cl8m);
}
._1un3cl835 {
  margin-top: var(--_1un3cl8n);
}
._1un3cl836 {
  margin-top: var(--_1un3cl8o);
}
._1un3cl837 {
  margin-top: var(--_1un3cl8p);
}
._1un3cl838 {
  margin-bottom: var(--_1un3cl8i);
}
._1un3cl839 {
  margin-bottom: var(--_1un3cl8j);
}
._1un3cl83a {
  margin-bottom: var(--_1un3cl8k);
}
._1un3cl83b {
  margin-bottom: var(--_1un3cl8l);
}
._1un3cl83c {
  margin-bottom: var(--_1un3cl8m);
}
._1un3cl83d {
  margin-bottom: var(--_1un3cl8n);
}
._1un3cl83e {
  margin-bottom: var(--_1un3cl8o);
}
._1un3cl83f {
  margin-bottom: var(--_1un3cl8p);
}
._1un3cl83g {
  margin-left: var(--_1un3cl8i);
}
._1un3cl83h {
  margin-left: var(--_1un3cl8j);
}
._1un3cl83i {
  margin-left: var(--_1un3cl8k);
}
._1un3cl83j {
  margin-left: var(--_1un3cl8l);
}
._1un3cl83k {
  margin-left: var(--_1un3cl8m);
}
._1un3cl83l {
  margin-left: var(--_1un3cl8n);
}
._1un3cl83m {
  margin-left: var(--_1un3cl8o);
}
._1un3cl83n {
  margin-left: var(--_1un3cl8p);
}
._1un3cl83o {
  margin-right: var(--_1un3cl8i);
}
._1un3cl83p {
  margin-right: var(--_1un3cl8j);
}
._1un3cl83q {
  margin-right: var(--_1un3cl8k);
}
._1un3cl83r {
  margin-right: var(--_1un3cl8l);
}
._1un3cl83s {
  margin-right: var(--_1un3cl8m);
}
._1un3cl83t {
  margin-right: var(--_1un3cl8n);
}
._1un3cl83u {
  margin-right: var(--_1un3cl8o);
}
._1un3cl83v {
  margin-right: var(--_1un3cl8p);
}
._1un3cl83w {
  overflow: hidden;
}
._1un3cl83x {
  overflow: auto;
}
._1un3cl83y {
  box-shadow: var(--_1un3cl81d);
}
._1un3cl83z {
  box-shadow: var(--_1un3cl81e);
}
._1un3cl840 {
  border-radius: var(--_1un3cl89);
}
._1un3cl841 {
  border-radius: var(--_1un3cl8a);
}
._1un3cl842 {
  border-radius: var(--_1un3cl8b);
}
._1un3cl843 {
  border-radius: var(--_1un3cl8c);
}
._1un3cl844 {
  transition: var(--_1un3cl8f);
}
._1un3cl845 {
  transition: var(--_1un3cl8g);
}
._1un3cl846 {
  transition: var(--_1un3cl8h);
}
._1un3cl847 {
  cursor: pointer;
}
._1un3cl848 {
  pointer-events: none;
}
._1un3cl849 {
  pointer-events: auto;
}
._1un3cl84a {
  user-select: none;
}
._1un3cl84b {
  appearance: none;
}
._1un3cl84c {
  opacity: 0;
}
._1un3cl84d {
  z-index: 0;
}
._1un3cl84e {
  z-index: 1;
}
._1un3cl84f {
  font: var(--_1un3cl82);
}
._1un3cl84g {
  font: var(--_1un3cl83);
}
._1un3cl84h {
  font: var(--_1un3cl84);
}
._1un3cl84i {
  font: var(--_1un3cl85);
}
._1un3cl84j {
  font-weight: var(--_1un3cl86);
}
._1un3cl84k {
  font-weight: var(--_1un3cl87);
}
._1un3cl84l {
  width: 100%;
}
._1un3cl84m {
  width: 100vw;
}
._1un3cl84n {
  height: 100%;
}
._1un3cl84o {
  height: 100vh;
}
._1un3cl84p {
  white-space: nowrap;
}
._1un3cl84q {
  box-sizing: border-box;
}
._1un3cl84r {
  text-align: center;
}
._1un3cl84s {
  text-align: left;
}
._1un3cl84t {
  text-align: right;
}
._1un3cl84u {
  border: 0;
}
@keyframes _1owhh5t4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1owhh5t1 {
  z-index: 100;
  background: #1c2230;
  color: var(--_1un3cl8z);
}
._1owhh5t3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1owhh5t4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1owhh5t5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1holdme1 {
  color: var(--_1un3cl8y);
}
._1holdme2 {
  color: var(--_1un3cl811);
}
._1holdme9 {
  text-overflow: ellipsis;
}
